autopep8
beautifulsoup4
black
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
fastapi
flake8
h5py
ipython
ipywidgets
isort
jinja2
jupyter
jupyter-ai
jupyter_ai_magics
jupyterlab
jupyterlab-language-pack-ja-jp
jupyterlab-lsp
jupyterlab_code_formatter
jupyterlab_execute_time
jupyterlab_vim
jupyterthemes
kaleido
langchain-openai
lckr_jupyterlab_variableinspector
matplotlib
more-itertools
mypy
nodejs
notebook
numpy
pandas
plotly
poetry
pyflakes
pygments
pylint
pynvim
python-lsp-server[all]
requests
ruff
ruff-lsp
scikit-learn
scipy
seaborn
tables
uvicorn
yapf
